flows.json.txt
[{"id":"6c753c69.6448dc","type":"tab","label":"Chatbot UI","disabled":false,"info":""},{"id":"4f42f0c3.c59778","type":"function","z":"6c753c69.6448dc","name":"input parsing","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":140,"wires":[["edc7cb68.6eb3f8","55dfc06e.46ccd"]]},{"id":"edc7cb68.6eb3f8","type":"watson-conversation-v1","z":"6c753c69.6448dc","name":"Restaurant Bot","workspaceid":"55d0a3da-8dc8-4747-a36c-1b9bc4526f08","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/5cb63c7b-87f2-4e8f-a4bf-b86d8b585d28","timeout":"","optout-learning":false,"x":420,"y":60,"wires":[["eb464109.7a99","4eed633d.9dda9c"]]},{"id":"eb464109.7a99","type":"debug","z":"6c753c69.6448dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":140,"wires":[]},{"id":"8d45a94c.95899","type":"ui_form","z":"6c753c69.6448dc","name":"","label":"","group":"3927fb3b.bbc724","order":1,"width":0,"height":0,"options":[{"label":"Enter the input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":80,"y":100,"wires":[["4f42f0c3.c59778"]]},{"id":"55dfc06e.46ccd","type":"ui_text","z":"6c753c69.6448dc","group":"3927fb3b.bbc724","order":1,"width":0,"height":0,"name":"","label":"User Input","format":"{{msg.payload}}","layout":"row-spread","x":358.4000244140625,"y":219.8000030517578,"wires":[],"l":false},{"id":"4eed633d.9dda9c","type":"function","z":"6c753c69.6448dc","name":"","func":"msg.payload = msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590.4000091552734,"y":48,"wires":[["dda1fc64.4937c8","d0cd0965.982818"]],"l":false},{"id":"dda1fc64.4937c8","type":"ui_text","z":"6c753c69.6448dc","group":"3927fb3b.bbc724","order":2,"width":0,"height":0,"name":"","label":"Bot Response","format":"{{msg.payload}}","layout":"row-spread","x":662.4000091552734,"y":34.80000305175781,"wires":[],"l":false},{"id":"d0cd0965.982818","type":"ui_audio","z":"6c753c69.6448dc","name":"","group":"3927fb3b.bbc724","voice":"en-US","always":"","x":625.4000091552734,"y":93,"wires":[],"l":false},{"id":"3927fb3b.bbc724","type":"ui_group","z":"","name":"UI","tab":"f063a616.f180d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"f063a616.f180d8","type":"ui_tab","z":"","name":"Chatbot","icon":"dashboard","disabled":false,"hidden":false}]